version: 2

registries:
  npm-github:
    type: npm-registry
    url: https://npm.pkg.github.com
    token: ${{ secrets.READER_TOKEN }}

updates:
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: weekly
    day: "sunday"
    time: "04:00"

- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: weekly
    day: "sunday"
    time: "04:00"
  open-pull-requests-limit: 30
  registries: "*"
  versioning-strategy: increase
  groups:
    minor-and-patch-dependencies:
      patterns:
        - "*"
      update-types:
        - "minor"
        - "patch"
    major-dependencies:
      patterns:
        - "*"
      update-types:
        - "major"
- package-ecosystem: npm
  directory: "/server"
  schedule:
    interval: weekly
    day: "sunday"
    time: "04:00"
  open-pull-requests-limit: 10
  registries: "*"
  versioning-strategy: increase
  groups:
    server-minor-and-patch-dependencies:
      patterns:
        - "*"
      update-types:
        - "minor"
        - "patch"
    server-major-dependencies:
      patterns:
        - "*"
      update-types:
        - "major"