{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "plugins": ["@typescript-eslint"],
    "ignorePatterns": ["serviceWorker.js"],
    "rules": {
        "import/extensions": [
            "off",
            "ignorePackages",
            {
                "js": "never",
                "jsx": "never",
                "ts": "never",
                "tsx": "never"
            }
        ],
        "@typescript-eslint/ban-ts-ignore": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/interface-name-prefix": "off",
        "@typescript-eslint/no-var-requires": "warn",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-unused-vars": "warn",
        "@typescript-eslint/ban-types": "warn",
        "@typescript-eslint/no-non-null-asserted-optional-chain": "warn",
        "no-prototype-builtins": "warn",
        "@typescript-eslint/explicit-function-return-type": "off",
        "no-console": "warn"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "env": {
        "node": true
    }
}
