.forside {
  .veileder {
    margin-bottom: 4rem;
    display: inline-block;
  }

  .disclaimer-innhold {
    padding: 1rem;
  }
  &__panel {
    max-width: @panel-innhold-bredde;
    margin: 0 auto;
  }
  .seksjon  {
    .ekspanderbartPanel  {
      margin-top: -2rem;
    }
  }
}
