.oppsummering-arbeidssøker {
  margin: 0 auto;
}
.oppsummering-arbeidssøker .disclaimer {
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.oppsummering-arbeidssøker .typo-undertittel {
  font-weight: normal;
}
