.barnas-bosted {
  &__innhold {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  border-right: 1px solid grey;
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;

  padding-bottom: 5rem;
  margin-bottom: 5rem;
  border-radius: 5px;

  &__innhold {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .foreldre-navn-input {
    width: 400px;
  }

  .foreldre-navn-input {
    width: 400px;
  }

  .fødselsnummer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .barn-datovelger {
    margin-bottom: 1rem;
    padding: 4px;
    display: inline-block;
    border: 2px solid #000;
  }

  .hvordan-praktiseres-samværet {
    .typo-element {
      margin-bottom: 1rem;
    }
  }

  .checkbox-forelder {
    margin-top: 2rem;
  }

  .innskutt {
    margin-left: 2.2rem;
  }

  ul.dokumentere-bosted {
    margin-left: 0.8rem;
  }
  .personnummer {
    margin-left: 2rem;
    margin-top: 0.5rem;
  }

  .andre-forelder-valg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    grid-gap: 1rem;
    padding-top: 1rem;
  }
}
