.barnas-bosted {
    &__header {
        box-sizing: border-box;
        background-color: #4d3e55;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom: 4px solid #826ba1;
        height: 128px;
        display: flex;
        align-items: flex-end;

        img {
            display: block;
            margin: 0 auto;
        }
    }

    &__innhold {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .navn {
        text-align: center;
        margin-top: 1.5rem;
    }

    .inforad {
        margin-top: 1.5rem;
        margin-bottom: 4rem;
        display: flex;
        justify-content: space-evenly; 

        .informasjonselement {
            &__header {
                text-align: center;
                color: @navGra60;
            }

            &__innhold {
                text-align: center;
                color: @navMorkGra;
            }
        }
    }

    .foreldre-navn-input {
        width: 400px;
    }

    .fødselsnummer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .barn-datovelger {
        margin-bottom: 1rem;
        padding: 4px;
        display: inline-block;
        border: 2px solid #000;
    }

    .hvordan-praktiseres-samværet {
        .typo-element {
            margin-bottom: 1rem;
        }
    }

}
