.oppsummering {
  .disclaimer {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .ekspanderbartPanel {
    border: none;
    border-bottom: 1px solid #3e3832;
    border-radius: 0px;
  }

  .oppsummering-barn {
    hr {
      margin-top: 2rem;
    }
  }
}
