.oppsummering {
  .disclaimer {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .ekspanderbartPanel {
    border: none;
    border-bottom: 1px solid #3e3832;
    border-radius: 0px;
  }

  .oppsummering-barn {
    hr {
      margin-top: 2rem;
    }

    .typo-element {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
  }

  .aktiviteter {
    .arbeidsforhold {
      hr {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
    }
  }
}
