.oppsummering .disclaimer {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.oppsummering .seksjon {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.oppsummering .oppsummering-bosituasjon .seksjon-samboer {
  margin-top: 2rem;
}
