.skjema > .side {
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, auto));
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    'stegindikator stegindikator stegindikator'
    'tittel tittel tittel'
    'innhold innhold innhold'
    '. uu-tekst .'
    'knapper knapper knapper';
}
.skjema > .side .stegindikator {
  grid-area: stegindikator;
  margin: 1rem 0 1rem;
}
.skjema > .side .navds-heading {
  grid-area: tittel;
  justify-self: center;
  padding-bottom: 2rem;
}
.side {
  margin: auto;
  width: 792px;
  padding-bottom: 75px;
}
@media all and (max-width: 959px) {
  .side {
    width: 100%;
  }
}
@media all and (max-width: 420px) {
  .side {
    width: 100%;
  }
}
.side__innhold {
  grid-area: innhold;
}
.side__uu-tekst {
  justify-self: center;
  grid-area: uu-tekst;
}
.side__knapper {
  padding: 2rem;
  grid-area: knapper;
  display: flex;
  justify-self: center;
  flex-direction: column;
}
.side__knapper .avbryt {
  margin-top: 1rem;
}
.side .treKnapper {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, min-content);
  grid-template-areas:
    'tilbake neste'
    'avbryt avbryt';
}
.side .treKnapper .hideButton {
  display: none;
}
.side .treKnapper .tilbake {
  grid-area: tilbake;
}
.side .treKnapper .neste {
  grid-area: neste;
}
.side .treKnapper .avbryt {
  grid-area: avbryt;
}
.side .tilbake-til-oppsummering {
  margin: 0 auto;
  display: block;
  margin-top: 2rem;
  max-width: 588px;
}
.side .navds-button.kvittering {
  padding-top: 0;
  padding-bottom: 0;
}
.innholdscontainer {
  padding: 2rem 0;
  margin: 0 auto;
  max-width: 588px;
}
.innholdscontainer .typo-systemtittel:first-child {
  display: flex;
  justify-content: center;
}
@media all and (max-width: 420px) {
  .innholdscontainer {
    padding: 0;
  }
}
