.søknadsdialog > .side {
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, auto));
  grid-template-rows: repeat(7, min-content);
  grid-template-areas:
    'stegindikator stegindikator stegindikator'
    '. ikon .'
    'tittel tittel tittel'
    'innhold innhold innhold'
    '. informasjon .'
    '. uu-tekst .'
    'knapper knapper knapper';
}
.søknadsdialog > .side .stegindikator {
  grid-area: stegindikator;
  margin: 1rem 0 1rem;
}
.søknadsdialog > .side .brev_ikon {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  grid-area: ikon;
}
.søknadsdialog > .side .navds-heading {
  grid-area: tittel;
  justify-self: center;
}
.søknadsdialog > .side .navds-heading.hoved {
  padding-bottom: 2rem;
}
.side {
  margin: auto;
  width: 792px;
  padding-bottom: 75px;
}
.side .tjukk-tekst {
  font-weight: bold;
}
@media all and (max-width: 959px) {
  .side {
    width: 100%;
  }
}
@media all and (max-width: 420px) {
  .side {
    width: 100%;
  }
}
.side__innhold {
  grid-area: innhold;
}
.side__uu-tekst {
  justify-self: center;
  grid-area: uu-tekst;
}
.side__informasjon {
  grid-area: informasjon;
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.side__informasjon a {
  color: #0067c5;
}
.side__informasjon a:hover {
  text-decoration: none;
}
.side__knapper {
  padding: 2rem;
  grid-area: knapper;
  display: flex;
  justify-self: center;
  flex-direction: column;
}
.side__knapper .avbryt {
  margin-top: 1rem;
}
.side .treKnapper {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, min-content);
  grid-template-areas:
    'tilbake neste'
    'avbryt avbryt';
  gap: 1rem;
}
.side .treKnapper .hideButton {
  display: none;
}
.side .treKnapper .tilbake {
  grid-area: tilbake;
}
.side .treKnapper .neste {
  grid-area: neste;
}
.side .treKnapper .avbryt {
  grid-area: avbryt;
}
.side .tilbake-til-oppsummering {
  margin: 0 auto;
  display: block;
  margin-top: 2rem;
  max-width: 588px;
  grid-area: knapper;
}
.innholdscontainer {
  padding: 2rem;
  margin: 0 auto;
  max-width: 588px;
}
.innholdscontainer .navds-heading:first-child {
  display: flex;
  justify-content: center;
}
@media all and (max-width: 420px) {
  .innholdscontainer {
    padding: 0;
  }
}
