body {
  margin: 0;
  box-sizing: content-box;
}

.sentrert {
  display: flex;
  justify-content: center;
}

.seksjon {
  padding-bottom: 3rem;
}

.alertstripe.varsel-feilsituasjon {
  .alertstripe__tekst {
    max-width: 100%;
  }
}
