body {
  background-color: @navLysGra;
  margin: 0;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.innholdspanel {
  margin-top: 1rem;
  padding: 100px;
}
