/* autoprefixer grid: autoplace */

/* ------- FELLES STØRRELSER --------- */

@desktop: ~"all and (min-width: 959px)";
@tablet: ~"all and (max-width: 959px)";
@mobile: ~"all and (max-width: 420px)";

@panel-bredde: 792px;
@panel-innhold-bredde: 588px;

/* ------- FELLES FARGER --------- */
@navMorkLilla: #826ba1;

/* ------- IMPORTS --------- */

@import "~nav-frontend-chevron-style";
@import "~nav-frontend-alertstriper-style";
@import "~nav-frontend-knapper-style";
@import "~nav-frontend-paneler-style";
@import "~nav-frontend-skjema-style";
@import "~nav-frontend-spinner-style";
@import "~nav-frontend-typografi-style";

@import "./App.less";
@import "søknad/forside/Forside.less";
@import "søknad/Søknadsdialog.less";
@import "søknad/steg/1-omdeg/medlemskap/Utenlandsopphold.less";
@import "./components/feil/Feilside.less";
@import "./components/dato/Datovelger.less";
@import "./components/side/Side.less";
@import "./components/språkvelger/Språkvelger.less";

@import "./søknad/steg/3-barnadine/BarnaDine.less";
@import "./søknad/steg/3-barnadine/LeggTilBarn.less";
@import "./components/filopplaster/Filopplaster.less";
