@desktop: ~"all and (min-width: 959px)";
@tablet: ~"all and (max-width: 959px)";
@mobile: ~"all and (max-width: 420px)";

@import "~nav-frontend-typografi-style";

@import "./App.less";
@import "komponenter/Soknad.less";

